.h {
    background-color: chocolate;
    color: wheat;
    text-align: center;
}
.chocolateinfo {
    background-color: chocolate;
    color: wheat;
    text-align: center;
}
body {
    background-color: rgb(160, 146, 118);
}