.idk {
  margin-left: 50px ;
}
.idkk {
  margin-left: 70px;
}
.aaa {
  margin-left: 100px;
}
.idc {
  margin-left: 200;
}
.aaaa {
  margin-left: 200px;
}
.aaaaa {
  margin-left: 75px;
}
