body {
    background-color: #adddda;
}
ul {
    color: cornflowerblue;
}

h1 {
    color: rgb(246, 255, 255);
}

.id {
    font-size: 8px;
    color: aliceblue;
}

img {
    height: 250px;
    width: 350px;
}